/*
DESIGN SYSTEM FOR THIS PROJECT

--- 01 TYPOGRAPHY SYSTEM ---
Fonts:
Raleway (headings, cta, navbar)
Open Sans (body)

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

Letter spacing
0.5px
0.75px

--- 02 COLORS ---
Primary:
--dark-blue-1: hsl(217, 28%, 15%);
--dark-blue-2: hsl(218, 28%, 13%);
--dark-blue-3: hsl(216, 53%, 9%);
--dark-blue-4: hsl(219, 30%, 18%); 

Accent:
--cyan: hsl(176, 68%, 64%);
--blue: hsl(198, 60%, 50%);
--light-red: hsl(0, 100%, 63%);

Neutral:
--white: hsl(0, 0%, 100%);

--- 05 SHADOWS ---
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS ---
Default: 9px
Medium: 11px

--- 07 WHITESPACE ---
Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
	/* Fonts */
	--font-heading: "Raleway", sans-serif;
	--font-body: "Open Sans", sans-serif;

	/* COLORS */
	/* Primary */
	--dark-blue-1: hsl(217, 28%, 15%);
	--dark-blue-2: hsl(218, 28%, 13%);
	--dark-blue-3: hsl(216, 53%, 9%);
	--dark-blue-4: hsl(219, 30%, 18%);

	/* Accent */
	--cyan: hsl(176, 68%, 64%);
	--blue: hsl(198, 60%, 50%);
	--light-red: hsl(0, 100%, 63%);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* With this config 1rem = 10px */
	/* Default font-size: 10px */
	/* 10px / 16px = 0.625 = 62.5% */
	/* Percentage of user's browser font-size setting */
	font-size: 62.5%;
}

body {
	font-family: var(--font-body);
	line-height: 1;
	font-weight: 400;
	color: var(--white);
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
	/* 1140px */
	max-width: 120rem;
	padding: 0 3.2rem;
	margin: 0 auto;
}

.grid {
	display: grid;
	column-gap: 6.4rem;
	row-gap: 9.6rem;
}

/* .grid:not(:last-child) {
	margin-bottom: 9.6rem;
} */

.grid--2-cols {
	grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
	grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
	grid-template-columns: repeat(4, 1fr);
}

.grid--center-y {
	align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	font-weight: 700;
	color: var(--white);
	letter-spacing: -0.2px;
}

.heading-primary {
	font-size: 3.6rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

.heading-secondary {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

.heading-tertiary {
	font-size: 2.4rem;
	line-height: 1.2;
	margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	padding: 1.6rem 7.5rem;
	border-radius: 25px;

	/* Only necessary for .btn */
	border: none;
	cursor: pointer;
	font-family: inherit;
	transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
	background-color: var(--blue);
	color: var(--white);
}

.btn--full:hover,
.btn--full:active {
	background-color: var(--cyan);
}

.link:link,
.link:visited {
	display: inline-block;
	color: var(--white);
	text-decoration: none;
	padding-bottom: 2px;
	transition: all 0.3s;
}

.link:hover,
.link:active {
	font-weight: 700;
}

*:focus {
	outline: none;
	/* outline: 4px dotted #e67e22; */
	/* outline-offset: 8px; */
	box-shadow: 0 0 0 0.8rem rgba(25, 185, 225, 0.5);
}

/* HELPER/SETTINGS CLASSES */
.justify-start {
	justify-self: start;
}

.justify-end {
	justify-self: end;
}

.text-center {
	text-align: center;
}

/* .margin-right-sm {
	margin-right: 1.6rem !important;
}

.margin-bottom-md {
	margin-bottom: 4.8rem !important;
} */
