/* @import "./general.css"; */

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/***********************************/
/* BELOW 1344px (Smaller desktops) */
/***********************************/

@media (max-width: 84em) {
	.folder-img {
		margin-top: 2.4rem;
	}

	.address-text {
		width: 24rem;
	}
}

/************************************/
/* BELOW 1200px (Landscape Tablets) */
/************************************/

@media (max-width: 75em) {
	html {
		/* 9px / 16px  */
		font-size: 56.25%;
	}

	.grid {
		column-gap: 3.2rem;
		row-gap: 6.4rem;
	}

	/* .footer-nav {
		gap: 1.6rem;
	} */
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
	html {
		/* 8px / 16px = 0.5 = 50% */
		font-size: 50%;
	}

	.grid {
		column-gap: 3.2rem;
		row-gap: 3.2rem;
	}

	.grid--2-cols,
	.grid--3-cols {
		grid-template-columns: 1fr;
	}

	.heading-primary {
		font-size: 3rem;
	}

	.heading-secondary {
		font-size: 2.4rem;
	}

	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 1.8rem;
	}

	.hero-img {
		width: 65%;
		position: relative;
		left: 13rem;
	}

	.feature-img,
	.folder-img {
		width: 13%;
	}

	.folder-img {
		margin-top: 0rem;
	}

	.shield-img {
		width: 10%;
	}

	.feature-title {
		margin-bottom: 1.6rem;
	}

	.img-quotes {
		width: 5.5rem;
		top: 4.2rem;
		left: 17.4rem;
	}

	.section-testim {
		justify-items: center;
		padding-top: 6.4rem;
		padding-bottom: 8rem;
	}

	.card-testim {
		width: 70%;
		padding: 2.4rem;
		margin-top: 1.2rem;
		margin-bottom: 1.2rem;
	}

	.cta-form {
		flex-direction: column;
		align-items: center;
	}

	.cta-email-input {
		width: 70%;
		margin: 0 auto 2.4rem;
	}

	.btn-cta {
		width: 70%;
		font-size: 2rem;
	}

	.grid--footer {
		grid-template-columns: 1fr;
	}

	.address-text {
		font-size: 1.8rem;
	}

	.phone-email-icon {
		width: 1.7rem;
		/* margin-right: ; */
	}

	.phone-email-text {
		font-size: 1.8rem;
		margin-left: 1.4rem;
	}

	.nav-col {
		margin-top: 1.6rem;
	}

	.footer-link {
		font-size: 1.8rem;
	}

	.social-links {
		margin-top: 1.6rem;
		justify-content: center;
	}

	.social-icon {
		margin: auto 1.6rem;
		height: 3.8rem;
		width: 3.8rem;
	}
}

/*********************************/
/* BELOW 704px (Smaller tablets) */
/*********************************/

@media (max-width: 44em) {
	/* .grid--3-cols,
	.grid--4-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.diets {
		grid-column: 1 / -1;
		justify-self: center;
	}

	.heading-secondary {
		margin-bottom: 4.8rem;
	}

	.pricing-plan {
		width: 100%;
	}

	.grid--footer {
		grid-template-columns: repeat(6, 1fr);
	}

	.logo-col,
	.address-col {
		grid-column: span 3;
	}

	.nav-col {
		grid-row: 1;
		grid-column: span 2;
		margin-bottom: 3.2rem;
	} */
}
