@import "./general.css";

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* HEADER */
/**************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-blue-1);
	height: 9.6rem;
	padding: 0 4.8rem;
}

.logo {
	height: 4.1rem;
}

/**************************/
/* NAVIGATION LINKS */
/**************************/

.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 4.8rem;
	font-family: var(--font-heading);
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: var(--white);
	font-size: 1.6rem;
	transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: var(--cyan);
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
	background-color: var(--dark-blue-1);
	padding: 4.8rem 0 9.6rem 0;
}

.hero {
	max-width: 120rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	align-items: center;
	justify-content: center;
}

.hero-img {
	width: 90%;
	margin-left: 3.2rem;
	padding-left: 2.4rem;
	z-index: 10;
}

.hero-text-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 65%;
	margin: 0.8rem auto 1.6rem;
	z-index: 10;
}

.hero-description {
	font-size: 1.8rem;
	line-height: 1.6;
	margin-bottom: 3.2rem;
	max-width: 70%;
}

.bg-img-box {
	background-color: var(--dark-blue-1);
}

.img-bg-curvy-desktop {
	width: 100%;
	z-index: -10;
	margin-top: -26%;
}

/**************************/
/* FEATURES SECTION */
/**************************/

.section-features {
	margin: -0.3rem auto;
	padding-bottom: 6.4rem;
	background-color: var(--dark-blue-2);
}

.feature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 85%;
	justify-self: center;
}

.feature-img {
	width: 15%;
	margin-bottom: 3.2rem;
}

.shield-img {
	width: 12%;
	margin-bottom: 3.2rem;
}

.folder-img {
	width: 16%;
	margin-bottom: 3.2rem;
}

.feature-title {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 2.4rem;
	font-family: var(--font-heading);
}

.feature-text {
	font-size: 1.8rem;
	width: 70%;
	line-height: 1.6;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
	max-width: 220rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--dark-blue-2);
	padding: 6.4rem 4.8rem;
}

.how-img {
	width: 44%;
}

.how-text-box {
	width: 44%;
	margin-top: 6.4rem;
}

.how-heading {
	width: 70%;
}

.how-text {
	font-size: 1.8rem;
	/* width: 70%; */
	line-height: 1.6;
	margin-bottom: 2.4rem;
}

/* .link:link,
.link:visited {
	display: inline-block;
	color: var(--cyan);
	text-decoration: none;
	padding-bottom: 0.4rem;
	border-bottom: solid 1.5px var(--cyan);
	transition: all 0.3s;
}

.link:hover,
.link:active {
	color: var(--white);
	border-bottom: solid 1.5px var(--white);
} */

.how-fylo-works {
	padding-bottom: 0.4rem;
	border-bottom: solid 1.5px var(--cyan);
	width: 18.8rem;
	padding-bottom: 0.7rem;
	transition: all 0.3s;
}

.link-how:link,
.link-how:visited {
	font-size: 1.8rem;
	color: var(--cyan);
	text-decoration: none;
}

.link-how:hover,
.link-how:active {
	color: var(--white);
}

.icon-arrow {
	width: 2rem;
	position: relative;
	top: 0.4rem;
	left: 0.2rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testim {
	background-color: var(--dark-blue-2);
	align-items: center;
	padding: 2.4rem 9.6rem;
	position: relative;
}

.img-quotes {
	position: absolute;
	z-index: 5;
	top: 8.6rem;
	left: 8.8rem;
}

.card-testim {
	background-color: var(--dark-blue-4);
	z-index: 10;
	border-radius: 5px;
	column-gap: 0.8rem;
	padding: 2.4rem;
	margin-top: 9.6rem;
	margin-bottom: 9.6rem;
	box-shadow: 9px 9px 8px 1px rgba(28, 36, 49, 0.73);
	-webkit-box-shadow: 9px 9px 8px 1px rgba(28, 36, 49, 0.73);
	-moz-box-shadow: 9px 9px 8px 1px rgba(28, 36, 49, 0.73);
}

.card-testim-text {
	font-size: 1.6rem;
	line-height: 1.6;
}

.testim-description {
	display: flex;
	align-items: center;
	margin-top: 1.6rem;
}

.card-testim-img {
	height: 4.8rem;
	width: 4.8rem;
	border-radius: 50%;
}

.testim-details {
	margin-left: 1.2rem;
}

.testim-name {
	font-size: 1.2rem;
	margin-bottom: 0.8rem;
}

.testim-role {
	font-size: 1rem;
}

/***************************/
/* CTA SECTION */
/***************************/

.section-cta {
	background-color: var(--dark-blue-1);
	z-index: 10;
	padding: 2.4rem 6.4rem;
}

/***************************/
/* FOOTER */
/***************************/

.footer {
	background-color: var(--dark-blue-3);
	align-items: center;
	padding: 2.4rem 9.6rem;
}

.grid--footer {
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
